/* 
.terminal_cursor {
  position: absolute;
  right: -2px;
  top: 15px;
  width: 8px;
  height: 1rem;
  margin-left: 2px;
  background: #ffffff;
  animation: blink 1s step-end infinite;
} */

/* .dinamic-span {
  position: relative;
  font-family: monospace;
  padding: 0.6rem;
  color: var(--border-and-shadow-color);
  display: inline;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: normal;
  max-width: 100%;
  overflow: hidden; 
}
.typing-animation{
  animation: typing 2s steps() forwards;
}

@keyframes typing {
  from {
    width: 0;
  };
  to{
    width: 100%;
  }
  }

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */
.dinamic-span {
  position: relative;
  font-family: monospace;
  padding: 0.6rem 0; /* Ajuste para separar verticalmente */
  color: var(--border-and-shadow-color);
  display: block; /* Cambiado a block para que el texto fluya verticalmente */
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto salte a otra línea */
  max-width: 100%; /* Ajusta el tamaño máximo al contenedor */
  overflow: hidden; /* Oculta el contenido fuera del contenedor */
  border-right: 6px solid var(--border-and-shadow-color); /* Efecto de "cursor" */
  line-height: 0.1;
  padding-right: 4px;
  margin-top: 1rem; /* Agrega un margen para separarlo del texto superior */
}
